# DockerHub
DOCKERHUB_USERNAME=tu_usuario_dockerhub
IMAGE_TAG=latest

# RabbitMQ
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

# Azure B2C
AZURE_B2C_ISSUER_URI=https://taller2cloudnative1ggrobier.b2clogin.com/3522b943-1091-496c-bbf3-f3b85571fc26/v2.0/
AZURE_B2C_JWK_SET_URI=https://taller2cloudnative1ggrobier.b2clogin.com/taller2cloudnative1ggrobier.onmicrosoft.com/discovery/v2.0/keys?p=b2c_1_flujo_usuario_taller
AZURE_B2C_AUDIENCE=coloca_aqui_el_aud_del_access_token
